@use "src/assets/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 1px solid #CCC5C3;

  @media screen and (min-width: variables.$media_m) {
    padding: 0 50px;
  }

  @media screen and (min-width: variables.$media_l) {
    width: 95%;
    margin: 0 auto;
  }
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cart {
  height: 100%;
  width: 30px;
}
