.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
}

.content {
  flex-grow: 1;
}